# Ignore everything inside output/
output/*

# But keep .gitkeep
!output/.gitkeep

# But keep .gitkeep
!output/questions_png/.gitkeep

# Ignore everything inside questions_png/
output/questions_png/*


# Ignore only images (optional)
*.png
*.jpg

esg/